body{
    background-color: rgb(20, 185, 158);
    color: black;
    font-family:Verdana;
  }

  * {
    box-sizing: border-box;
  }
  
  .menu {
    float: left;
    width: 20%;
    text-align: center;
  }
  
  .menu a {
    background-color:  rgb(20, 160, 185);
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
  }
  
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
  }
  
  .right {
    background-color:  rgb(20, 185, 158);
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }
  
  @media only screen and (max-width: 620px) {
    /* For mobile phones: */
    .menu, .main, .right {
      width: 100%;
    }


  }
  .div-hover{
    width: 200px;
    border: 1px solid black;
    
  }
  .img{
border: 2px solid black;
border-radius: 5%;
width: 200px;
margin:20px;
transition: 1s;
}

.img:hover{
    transform: scale(1.3);
}


.img:hover  {
    font-size: xx-large;
}

.main{
margin: 25px 100px;
float: left;
}

  footer {
text-align: center;
padding: 3px;
background-color: rgb(59, 75, 168);
color: white;
  }
